body.popup_ {
    font-family: sans-serif;
    width: 400px;
    padding: 5px;
}

div.pad5 {
    padding: 5px;
}

div.bold {
    font-weight: bold;
	padding-bottom:5px;
}

input.headerName {
    min-width: 180px !important;
}

span.link {
     cursor: pointer;
     color: blue;
     text-decoration: underline;
	 display: inline-block;
	 width: 27px;
	 margin-left: 5px;
}

span.link:hover {
     color: #a6bc09;
}

input#newtab {
	margin-top: 0;
	margin-right: 5px;
}

div.partner-dropdown {
	margin-top: 8px;
	width: 225px;
	margin-bottom: 4px;
}

select.headerName {
	margin-bottom: 0;
	width: 153px;
}

span.partner-title {
	display: inline-block;
	margin-right: 12px;
	margin-left: 2px;
}